<div class="card-group">
  <div class="card">
    <img src="assets/nugget.jpg" class="card-img-top" alt="gambar nugget" width="290px" height="290px">
    <div class="card-body">
      <h5 class="card-title">RESEP & CARA MEMBUAT PISANG NUGGET</h5>
		<p class="card-text">Siapa sangka ternyata buah pisang bisa dijadikan nugget? 
		Yap, buah yang sangat umum ini baik dikonsumsi untuk semua kalangan, 
		dari balita sampai dewasa ini mempunyai manfaat kesehatan yang baik untuk</p>
	 <a href="/nugget" class="btn btn-primary">Selengkapnya...</a>
    </div>
  </div>
  <div class="card">
    <img src="assets/lontong.jpg" class="card-img-top" alt="gambar lontong" width="290px" height="290px">
    <div class="card-body">
      <h5 class="card-title">CARA MUDAH MEMBUAT LONTONG DENGAN CETAKAN</h5>
      <p class="card-text">Kebanyakan orang pasti tidak akan berfikir membuat lontong sendiri dirumah, 
	  mungkin karena tidak mengerti caranya atau hanya untuk acara-acara khusus saja. 
	  Tapi jika Anda mau belajar, caranya sangat mudah</p>
	  <a href="/lontong" class="btn btn-primary">Selengkapnya...</a>
    </div>
  </div>
  <div class="card">
    <img src="assets/sotob.jpg" class="card-img-top" alt="gambar sotob" width="290px" height="290px">
    <div class="card-body">
      <h5 class="card-title">RESEP MEMBUAT SOTO BETAWI</h5>
      <p class="card-text">Setiap daerah pasti memiliki berbagai jenis makanan berkuah, termasuk soto.
	  Ada beberapa daerah di Indonesia memiliki resep soto sendiri dengan bumbu dan penyajian yang bervariasi.
	  Kali ini ResepKoki akan</p>
	  <a href="/sotob" class="btn btn-primary">Selengkapnya...</a>
    </div>
  </div>
</div>