<div class="container">

<div class="clearfix" style="padding-bottom: 20px; ">
	<button class="btn btn-primary float-right" (click)="open(content)">BUAT DATA BARU</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Resep</th>
      <th scope="col">Keterangan</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of dataSource; let nomer=index">
      <th scope="row">{{nomer+1}}</th>
      <td>{{n.name}}</td>
      <td>{{n.keterangan}}</td>
      <td align="right">
      		<button class="btn btn-primary">EDIT</button>
      	<button class="btn btn-danger" style="margin-left: 10px;" (click)="deleteData(nomer)">HAPUS</button>
		
      </td>
    </tr>
  
  </tbody>
</table>
<div class="clearfix" style="padding-bottom: 20px; ">
	<a href="/sambal" class="btn btn-primary float-right"  >Selengkapnya....</a>
</div>
</div>
 



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Menambahkan Data Baru</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    

 <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name..." [(ngModel)]="user.name">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Keterangan</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter keterangan..." [(ngModel)]="user.keterangan">
  </div>




  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveData(user)">Save</button>
  </div>
</ng-template>