<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active" routerLink="/khasdb" >Resep Makanan Khas</button>
  <button type="button" class="list-group-item list-group-item-action" routerLink="/nusantaradb">Resep Selera Nusantara</button>
  <button type="button" class="list-group-item list-group-item-action" routerLink="/sambaldb" >Sambal</button>
</div>