<div class="card-group">
  <div class="card">
    <img src="assets/ketandurian.jpg" class="card-img-top" alt="gambar durian" width="290px" height="290px">
    <div class="card-body">
      <h5 class="card-title">KETAN DURIAN KHAS SUMATERA BARAT</h5>
		<p class="card-text">Cemilan yang satu ini diperuntukkan para pecinta buah durian. 
		Manisnya durian dan gurihnya ketan menghasilkan paduan rasa yang nikmat. 
		Apalagi jika disantapnya hangat-hangat kala sedang hujan. Simak tutorial</p>
	 <a href="/ketandurian" class="btn btn-primary">Selengkapnya...</a>
    </div>
  </div>
  <div class="card">
    <img src="assets/ayampop.jpg" class="card-img-top" alt="gambar ayam pop" width="290px" height="290px">
    <div class="card-body">
      <h5 class="card-title">AYAM POP KHAS PADANG</h5>
      <p class="card-text">Ayam pop adalah masakan khas dari Padang, Sumatera Barat. 
	  Memiliki bumbu-bumbu yang sangat sederhana seperti jahe, bawang putih, 
	  merica dan garam lalu ditambahkan air kelapa saat merebusnya agar rasanya semakin gurih dan empuk.
	  Karena memiliki rasa yang</p>
	  <a href="/ayampop" class="btn btn-primary">Selengkapnya...</a>
    </div>
  </div>
  <div class="card">
    <img src="assets/soto.jpg" class="card-img-top" alt="gambar soto" width="290px" height="290px">
    <div class="card-body">
      <h5 class="card-title">RESEP SOTO SOKARAJA KHAS BANYUMAS</h5>
      <p class="card-text">Tak hanya kota Lamongan dan Madura saja yang terkenal akan sotonya, 
	  tapi siapa sangka jika Banyumas juga memiliki jenis soto yang tak kalah kelezatannya. 
	  Soto Sokaraja sangat pas di sajikan saat musim hujan seperti ini. 
	  Sambal kacangnya yang lezat jangan sampai lupa</p>
	  <a href="/soto" class="btn btn-primary">Selengkapnya...</a>
    </div>
  </div>
</div>