
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: tomato;" >
 <img src="assets/dapurresep.png" alt="brand logo" width="80px" height="65px">
  <a class="navbar-brand" style="color: white"><b>DAPUR RESEP</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" routerLink="/home" routerLinkActive="active" style="color: white" >HOME<span class="sr-only">(current)</span></a>
      </li> 
	   <li class="nav-item">
        <a class="nav-link" routerLink="/resep" routerLinkActive="active" style="color: white" >RESEP</a>
      </li> 
	  <li class="nav-item">
        <a class="nav-link" routerLink="/kirimresep" routerLinkActive="active" style="color: white" >KIRIM RESEP</a>
      </li>
    </ul>
	
	 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
	
</div>
</nav>
<router-outlet></router-outlet>


