<div class="card-group">
  <div class="card">
    <img src="assets/dabudabu.jpg" class="card-img-top" alt="gambar dabu dabu" width="290px" height="290px">
    <div class="card-body">
      <h5 class="card-title">RESEP SAMBAL DABU - DABU </h5>
		<p class="card-text">Jika biasanya membuat sambal selalu diulek kali ini resep sambal yang berbeda tanpa perlu anda ulek adalah Sambal Dabu-Dabu. 
		Sambal yang terdiri dari cabai rawit merah, cabai rawit hijau, bawang merah</p>
	 <a href="/dabudabu" class="btn btn-primary">Selengkapnya...</a>
    </div>
  </div>
  <div class="card">
    <img src="assets/manggamuda.jpg" class="card-img-top" alt="gambar lontong" width="290px" height="290px">
    <div class="card-body">
      <h5 class="card-title">RESEP SAMBAL MANGGA MUDA</h5>
      <p class="card-text"> Indonesia memang kaya akan masakan sambalnya, seperti Sambal Mangga Muda. 
	  Sudah kebayangkan kesegaran dari mangga muda ditambah dengan pedasnya cabai rawit serta bumbu lainnya, pasti akan menambah selera</p>
	  <a href="/manggamuda" class="btn btn-primary">Selengkapnya...</a>
    </div>
  </div>
  <div class="card">
    <img src="assets/sambalpetai.jpg" class="card-img-top" alt="gambar sotob" width="290px" height="290px">
    <div class="card-body">
      <h5 class="card-title">RESEP SAMBAL PETAI</h5>
      <p class="card-text">Bahan : 4 btr bawang merah 2 siung bawang putih 15 bh cabai merah keriting 1 bh tomat merah 1 sdt terasi 1 sdt gula merah, 
	  iris Garam secukupnya 3 sdm minyak untuk menggoreng 1 papan petai, kupas, potong-potong Cara</p>
	  <a href="/petai" class="btn btn-primary">Selengkapnya...</a>
    </div>
  </div>
</div>